*.class
*.jar
*.swp
.calva/output-window/
.classpath
.clk/
.cpcache
.DS_Store
.eastwood
.git/
.lsp/
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.settings
.socket-repl-port
.vscode
classes
target/

deploy/
build.sh
buildAndRun.sh
Readme.md